@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #4A4A4A;
  font-size: .8em;
  background-color: #FFF;
}

html {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #4285f4;
}

body a:hover {
  color: #4285f4;
}


#container {
  /*padding: 20px;*/
  /*width: 90%;*/
  margin: auto;
  /*display: none;*/
  /*opacity: 0;*/

}

/* ******* HEADERS **** */

h1 {
  font-weight: 500;
  color: #4285f4;
  font-size: 1.7em;
}

/* PROJ TITLE */
h2 {
  font-weight: 300;
  color: black;
  font-size: 1.45em;
  letter-spacing: 0.05em;
}

/* */
h3 {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}

/*upper case bro*/
h4 {
  font-weight: 500;
  color: #000;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 0px; /*distance between nav and title*/
}

/*NORMAL MAIN TEXT*/
h5 {
  font-weight: 300;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding-top: 10px;
}



@media screen and (max-width: 425px) {
  .inner-nav {
    text-align: center;
  }

  .title {
  }
}

/***** FOOTER ******/

#footer {
  background-color: #F2F3F4;
  text-align: center;
  padding-top: 30px;
  margin-top: 200px;
}

.footer-text {
  text-align: center;
  padding: 60px;

}


@media screen and (max-width: 1200px) {
  #intro-text {
    font-size: 1.6rem;
    width: 70%;
  }
  .light-grey {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2.4rem;
  }

}

@media screen and (max-width: 880px) {
  #intro-text {
    font-size: 1.4rem;
    /*width: 70%;*/
  }
  .light-grey {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  #intro {
  padding-top: 140px !important;
  }

  .intro-side {
    display: none;
  }

}

@media screen and (max-width: 500px) {
  #intro-text {
    font-size: 1rem;
    width: 97% !important;
    margin: auto;
  }
  .light-grey {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  #intro {
  padding-top: 130px !important;
  }


}


