@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #4A4A4A;
  font-size: 0.9em;
  /*background-color: #FF4D4D;*/
}

html {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #4285f4;
}

body a:hover {
  color: #7aa9f5;
}


#container {
  /*padding: 20px;*/
  /*width: 90%;*/
  margin: auto;
  /*display: none;*/
  /*opacity: 0;*/

}

/* ******* HEADERS **** */

h1 {
  font-weight: 300;
  color: black;
  font-size: 2.8rem;
}

h2 {
  font-weight: 300;
  color: black;
  font-size: 1.45rem;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: 300;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: #4285f4;
}

h4 {
  font-weight: 600;
  color: black;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 10px;
}



@media screen and (max-width: 768px) {
  .left-navigation {
    background-color: white;
    left: 0;
    display: none;
    text-align: center;
    right: 0;
    top: 100%;
    position: absolute;
  }


  .left-navigation .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding: 0.75rem;

  }
  .left-navigation.is-active {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
  }

  i.fa.fa-bars.toggle {
    display: inline-block;
  }

}

@media screen and (max-width: 425px) {
  .inner-nav {
    text-align: center;
  }

  .title {
  }
}

/***** FOOTER ******/

#footer {
  background-color: #F2F3F4;
  text-align: center;
  padding-top: 30px;
  margin-top: 200px;
}

.footer-text {
  text-align: center;
  padding: 60px;

}


@media screen and (max-width: 1200px) {
  #intro-text {
    font-size: 1.6rem;
    width: 70%;
  }
  .light-grey {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2.4rem;
  }

}

@media screen and (max-width: 880px) {
  #intro-text {
    font-size: 1.4rem;
    /*width: 70%;*/
  }
  .light-grey {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.1rem;
  }

  #intro {
  padding-top: 140px !important;
  }

  .intro-side {
    display: none;
  }

}

@media screen and (max-width: 500px) {
  #intro-text {
    font-size: 1rem;
    width: 97% !important;
    margin: auto;
  }
  .light-grey {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  #intro {
  padding-top: 130px !important;
  }


}


/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
