@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900');


body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #4A4A4A;
  font-size: .8em;
  background-color: #FFF;
}

html {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: #4285f4;
}

body a:hover {
  color: #4285f4;
}

/* ******* HEADERS **** */

h1 {
  font-weight: 500;
  color: #4285f4;
  font-size: 1.7em;
}

/* PROJ TITLE */
h2 {
  font-weight: 300;
  color: black;
  font-size: 1.45em;
  letter-spacing: 0.05em;
}

/* */
h3 {
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}

/*upper case bro*/
h4 {
  font-weight: 500;
  color: #000;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 0px; /*distance between nav and title*/
}

/*NORMAL MAIN TEXT*/
h5 {
  font-weight: 300;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding-top: 10px;
}

/**** GRID *****/

#work {
  margin: auto;
  padding-top: 2rem;
  width: 95%;
}

.card {
  margin: 1rem;
}

.card img {
  display: block;
}

.responsive-img {
  max-width: 100%;
}

.fade-container:hover .overlay{
  opacity:1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:  #404040;

}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fade-container {
  position:relative;
}


@media screen and (min-width: 600px) {
  #work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card {
    width: calc(50% - 2rem);
  }
}


@media screen and (min-width: 1000px) {
  .card {
    width: calc(33.3333% - 2rem);
  }
}

/*****COL BOYS******/
/*
.columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 93%;
  margin:auto;
  padding-top: 100px;

}

.is-one-third {
  width: 30%;
}

.is-two-thirds {
  width: 64%;
}

.is-one-fourth {
  width: 24%;
}

.is-three-fourths {
  width: 73%;
}

.is-half {
  width: 45%;
  padding: 15px;
}

.is-full {
  width: 96%;
  margin: auto;
}

.is-centered {
  margin: auto;
  display: block;
}

.herro {
  width: 98% !important;
  text-align: left;
    /*width: 75%;*/
 /* color: #464646;
  /*font-size: 1.15em;*/
/*  line-height: 1.9em;
    display: flex;
} 

.herro p {
  padding-top: 200px;
}*/
/*
@media screen and (max-width: 768px) {
  .columns {
    width: 85%;
  }

  .is-one-third {
    width: 100%;
    margin-left: 0;
    margin: auto;

  }

  .is-half {
    width: 100%;
  }

  .is-one-fourth {
    width: 100%;
  }

  .is-three-fourths {
    width: 100%;
  }

  .is-two-thirds {
    width: 100%;
    margin: auto;
  }

  .respond-half {
    width: 48%;
  }

  img.shrink { 
    width: 50%;
  }

  .description {
    padding-top: 3rem;
  }*/

}


@media screen and (max-width: 600px) {
  .columns {
    display: block;
    padding-top: 2em;
    width: 85%;
    margin: auto;
  }

  #about .column p{
    text-align: center;
  }

}

@media screen and (max-width: 425px) {
  .column {
    font-size: 0.8em;
    line-height: 1.4rem;
  }

  .column p {
    width: 100%;
  }

  #about {
    width: 90% !important;
    margin: auto !important;
    text-align: center;
  }

  .hide-mobile {
    display: none;
  }

}

.center {
  text-align: center;
}

.center-col {
  margin: auto;
  /*text-align: center;*/
}


.marginless {
  margin: 0;
}

.main-content {
  margin-top: 10px;
}

.columns p {
  color: ##3F4144;
  line-height: 2.15em;
  font-size: 0.95rem;
  letter-spacing: 0.02rem;
/*  padding-top: 100px;
*/}

.columns li {
  line-height: 2.15em;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 169px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 20px;
  background-color: #FFF; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
}

/* The navigation menu links */
.sidenav a {
  padding: 4px 8px 4px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #999999;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #4285f4;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  /* 1= top position, 2= LR padding */
  padding: 10px 70px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 4px;}
  .sidenav a {font-size: 10px;}
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
