@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
	font-family: Source Sans Pro;
	font-size: 24px;
	line-height: 1.4;
	background-color: #FFF;
	color: #333333;
}

header {
  background-color: #befffc;
  border-bottom: 2px #333 solid;
  padding: 20px 20px 20px 130px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #333;
  padding-bottom: 1px;
  /* border-bottom: 2px solid #eea472; */
  background-color: #CBD4C2;
}
a:hover {
  background-color: #E5F993;
}
nav {
  padding-top: 10px;
}
nav a {
  background-color: transparent;
}
nav a.selected {
  border-bottom: 1px solid #000;
}
nav a.not-selected {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 24px;
}
h2 {
  font-family: 'Source Sans Pro';
  font-size: 12px;
  padding-bottom: 10px;
}

main {
  margin: 200px 30px 130px 130px;
  max-width: 600px;
}
main p {
  padding-bottom: 20px;
}
main ol, ul {
  list-style: none;
}
main section {
  margin-bottom: 30px;
}

.container {
  marginpbottom: 30px;
}

.channels {
  display: flex;
  flex-wrap: wrap;
}

.channels a {
  border-bottom: none;
  background-color: #DBEBC0;
}
ul.channels li {
    text-align: center;
    width: 190px;
    height: 190px;
    margin: 5px;
    padding: 10px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
  	padding: 20px;
    background-color: #fff;
  	
}
ul.channels li:hover {
	background-color: #;
  color: #333;
}
li h3 {
  font-size: 16px;
}

@media (max-width: 870px) {
  
  .mobile-hidden{
    display: none;
  }
  body {
	font-size: 18px;
	line-height: 1.5;
}

header {
  padding: 20px 110px 20px 20px;
}

h2 {
  font-size: 14px;
}

main {
  margin: 150px 20px 100px 20px;
}
main p {
  padding-bottom: 30px;
}
main section {
  margin-bottom: 30px;
}

.channels {
  justify-content: center;
}
  
}


/*-----------------------------*/